<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>History</title>
    
</head>
<body>
 <script>

         if (history.length > 0) { 
         
             document.write(history.city);
             document.write(history.feeling);
         } 
         else { 
           document.write('There are no blogs to display...');
         } 

        </script>


</body>
</html>